@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

/*-------------------------------------------------- General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.card-text{
    padding-bottom: 1rem;
}

main{
    background-color: #ccafa6;
}
div.card{
    background-color: #f07d57;
}

.content-container{
background-color: #FCE373;
margin-bottom: 1rem;
padding: 0.5rem;}

body {
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-rows: auto auto 1fr auto auto;
    grid-template-areas: 'smt1' 'hdr' 'mn' 'ftr' 'smt2';
    color: #333333;
}

/*-------------------------------------------------- Classes */
.d-block{
    display: block;
}

.mb-1{
    margin-bottom: 1rem;
}
.mt-1{
    margin-top: 1rem;
}
.ml-1{
    margin-left: 1rem;
}
.mr-1{
    margin-right: 1rem;
}

/*-------------------------------------------------- Text */
h1, h2, h3, p {
    line-height: 1.6em;
}

a {
    color: #3B60E4;
    transition: color 300ms ease-in-out;
}

a:hover, a:focus {
    color: #384E77;
}

/*-------------------------------------------------- List */
ul {
    padding-left: 3rem;
}

li {
    margin-bottom: 1rem;
}

/*-------------------------------------------------- Button */

button {
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 10px 24px;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 5%;
    transition: opacity 300ms ease-in-out;
}

button:hover, button:focus {
    color: #CBA69B;
}

button:hover {
    cursor: pointer;
}

/*-------------------------------------------------- Container */
hr {
    margin-bottom: 1rem;
    border-color: rgba(51, 51, 51, 0.2);
}

div {
    padding: 1rem 0;
}

/*-------------------------------------------------- Clases */
.mt-1{
    margin-top: 1rem;
}


/*-------------------------------------------------- Header */
header {
    text-align: center;
    padding: 3rem 1rem;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    background-color: #FCE373;
    grid-area: hdr;
}

header h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
}

/*-------------------------------------------------- Main */
main {
    font-size: 1.2em;
    grid-area: mn;
}

/*-------------------------------------------------- Footer */
footer {
    background-color: #FCE373;
    color: black;
    padding: 0 1rem;
    grid-area: ftr;
    font-size: 3rem;
}

footer a{
    text-decoration: none;
    color: #F37449;
    font-size: 1.5rem;
}

footer ul {
    border-top: 1px solid rgba(34, 34, 34, .15);
    padding: 1rem 0 1.5rem 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

footer li {
    font-size: 1.5rem;
    line-height: 1.6em;
    color: rgba(51, 51, 51, 0.8);
    margin-bottom: 0;
}

/*-------------------------------------------------- Forms */
label {
    margin-bottom: 1rem;
    display: inline-block;
}

input {
    display: block;
    max-width: 300px;
    width: 100%;
    padding: .5rem 1rem;
    border: 1px solid rgba(51, 51, 51, 0.5);
    border-radius: 6px;
    color: #333333;
}

/*-------------------------------------------------- Gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1em 0;
    padding: 1em;
    border: 1px solid rgba(51, 51, 51, 0.5);
    border-radius: 6px;
}

.gallery > img {
    max-width: 90%;
    margin: 1em 5%;
    border-radius: 6px;
}

.gallery > span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5em;
    height: 5em;
}

.gallery div {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
    padding: 1em;
}

#precio-total{
    margin: 1rem;
    font-size: 1.5rem;
}
.vaciarcarrito{
    background-color: #F37449;
    color: black;
    margin: 1rem;
}

.gallery div img {
    width: 100%;
}

.gallery div h3 {
    padding: .5em;
    margin-bottom: 0;
    /*font-size: 3.2em;*/
    text-align: center;
    /*color: #134F5C;*/
}

.gallery div p {
    padding: .5em;
    font-size: 1.4em;
    text-align: center;
}

.agregar-carrito{
    margin-right: 1rem;
}


/*----------- Carrito*/

#minicarrito{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: whitesmoke;
    width: 100%;
    border: 1px solid #a4a4a4;
    border-radius: 3px;
    margin-bottom: 1rem;
}

#minicarrito a{
    background-color: #F37449;
    color: black;
    padding: .5rem;
    border-radius: 10px;
    text-decoration: none;
    margin-right: 1rem;
    margin-left: 1rem;
    font-weight: 600;
}
.botoncategoria{
    margin: 0.5rem;
}
#minicarrito a:hover{
    background-color: #ffac90;
    color: #CBA69B;
}

#minicarrito + h2 {
    text-align: center;
}

#productos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#productos > div{
    width: 28%;
    text-align: center;
}

#productos > div > img{
    width: 100%;
    height: auto;
}

.modal {
    position: fixed;
    z-index: 1;
    display: flex;
    /*flex-direction: column;*/
    /*justify-content: center;*/
    align-items: center;
    justify-content: center;
    align-content: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal > div{
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding: 1rem;
    min-width: 400px;
}

.modal a {
    text-decoration: none;
    /*color: #d0e0e3;*/
}

.modal a.cerrar {
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 1em;
    right: 1em;
    border-radius: 2.5em;
    width: 5em;
    height: 5em;
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    color: #FF8C00;
    text-decoration: none;
}

.modal a.cerrar:hover {
    background-color: #FF8C00;
    color: rgba(255, 255, 255, 0.9);
}

.modal img {
    height: 30%;
    max-width: 300px;
}

.modal h3,
.modal p,
.modal li {
    margin: 0;
    text-align: center;
    /*color: #d0e0e3;*/
}

.modal li {
    display: flex;
    justify-content: space-around;
    margin: 0.25em 0;
    /*width: 90%;*/
}

.modal li span {
    font-size: 1em;
}

.modal ul{
    padding: 0;
    width: 100%;
    text-align: center;
}

img{
    width: 100%;
    display: block;
}

.contenedor-catalogo{
    margin: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.card{
    width: 18rem;
    margin: 2rem;
}
.cardBody{
    background-color: #FCE373;
}

.card-title{
    font-size: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.card-subtitle{
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.btn-center {
    display: flex;
    justify-content: center;
  }

  .ventana-emergente {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .cerrar-ventana {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .contenido-ventana {
    max-height: 600px;
    overflow-y: auto;
  }


  .carritodecompras {
    background-color: #fff;
    max-height: 600px;
    overflow-y: auto;
}
.carritodecompras img{
    width: 15%;
    height: auto;
  }


  .contenido-ventana{
    position: fixed;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  }

  .contenido-ventana img{
    width: 50%;
  }
  
button.btn-agregarCarrito{
    margin: 1rem;
    background-color: #000000d0;
    border-radius: 5px;
}

button.btn-dark.ver-mas{
    margin: 1rem;
    margin-left: 4rem;
    background-color: #000000d0;
    border-radius: 5px;
}

button.btn.btn-dark.ver-mas{
    margin: 1rem;
    margin-left: 4rem;
    background-color: #000000d0;
    border-radius: 5px;
}

.carritodecompras{
    color: white;
    background-color: #00000053;
}

.paraflex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/**
 * Web
 */
@media screen and (min-width: 960px) {

    /** Main */
    main div.gallery {
        flex-direction: row;
    }

    main div.gallery > img {
        max-width: 24%;
        margin: 1em .5%;
    }

    main div.gallery div {
        align-self: flex-start;
        width: 30%;
    }

    /** Footer */
    footer ul {
        flex-direction: row;
    }

}